<div class="">
  <div class="Card-box">
    <div class="text-center">Login</div>
    <p>Enter your credentials here</p>
    <p>{{ user | json }}</p>
    <form #details="ngForm" (ngSubmit)="onSubmit()">
      <input
        type="text"
        [(ngModel)]="user.name"
        name="name"
        placeholder="Name"
      /><br />
      <input
        type="password"
        [(ngModel)]="user.password"
        name="password"
        placeholder="password"
      /><br />
      <!-- <span *ngIf="errorMessage">Field Should not be empty</span> -->
      <button type="submit">Submit</button><br />
      <p *ngIf="errorMessage">{{ errorMessage }}</p>
    </form>

    <!-- <form #userlogin="ngForm" (ngSubmit)="onSubmit()" novalidate>
      <input type="text" name="email" placeholder="email" />
      <input type="password" name="password" placeholder="password" />
      <button type="submit">Submit</button>
    </form> -->
  </div>
</div>
