<div class="outline">
  <div class="parent-container">
    <div class="first-row">
      <mat-form-field>
        <mat-label>Location</mat-label>
        <mat-select>
          <mat-option value="Location 1">First option</mat-option>
          <mat-option value="Location 2">Second option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Batch-type</mat-label>
        <mat-select>
          <mat-option value="Location 1">First option</mat-option>
          <mat-option value="Location 2">Second option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>sub-type</mat-label>
        <mat-select>
          <mat-option value="Location 1">First option</mat-option>
          <mat-option value="Location 2">Second option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>form-type</mat-label>
        <mat-select>
          <mat-option value="Location 1">First option</mat-option>
          <mat-option value="Location 2">Second option</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="second-row">
      <mat-form-field>
        <mat-label>Year</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Julian</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Tole No.</mat-label>
        <input matInput />
      </mat-form-field>
      <div>
        <mat-checkbox>CBH</mat-checkbox>
        <mat-checkbox>KFP</mat-checkbox>
      </div>
    </div>
    <mat-form-field>
      <mat-label>Textarea</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <div class="third-row">
      <div>
        <mat-checkbox>Hold batch</mat-checkbox>
      </div>
      <div class="slider-container">
        <div><mat-label>Brighten Image</mat-label></div>
        <div class="spacer"></div>
        <mat-slider>
          <input matSliderThumb />
        </mat-slider>
      </div>
    </div>
    <div class="forth-row">
      <button mat-raised-button color="primary">Upload</button>
      <div class="spacer"></div>
      <button mat-raised-button color="primary">Scan</button>
    </div>
  </div>
</div>
